<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a> Employee detail</a><br />

First Name :<span th:text="${employee.firstName}" ></span><br />
Last Name :<span th:text="${employee.lastName}" ></span><br />
Email Address :<span th:text="${employee.email}" ></span><br />
Phone :<span th:text="${employee.phone}" ></span><br />
Department :<span th:text="${employee.department.name}" ></span><br />


</body>
</html>